body.adminimal-theme.adminimal-skin-material a {
  color: #0098D9;
}

/* replace the ugly arrow in circle for Add content choices */
body.adminimal-theme.adminimal-skin-material ul.admin-list li {
  background: url(images/chevron-right.png) no-repeat 0 0;
}

/* get rid of yellow hover on content blocks
*/
.adminimal-theme tr.draggable.even:hover {
  background: #f3f4ee;
}
.adminimal-theme tr.draggable.odd:hover {
  background: #ffffff;
}
.adminimal-theme .field-type-paragraphs tr.even td,
.adminimal-theme .field-type-paragraphs tr.odd td {
  background-color: #fff;
  padding: 0;
}
.adminimal-theme div[id*='-paragraph-bundle-title'] {
  background-color: #00A1C6;
  color: white;
  padding: 1rem;
  font-weight: bold;
}

body.adminimal-theme.adminimal-skin-material fieldset legend {
  position: static;
}

.adminimal-theme .field-type-paragraphs tr.draggable.even td.field-multiple-drag,
.adminimal-theme .field-type-paragraphs tr.draggable.odd td.field-multiple-drag {
  background-color: #56565A;
}
.adminimal-theme .field-type-paragraphs table.field-multiple-table {
  border-spacing: 18px;
  border-collapse: separate;
}  
.adminimal-theme .field-type-paragraphs td.field-multiple-drag {
  padding: 10px;
}
.adminimal-theme .draggable a.tabledrag-handle {
  margin: 0;
}

/* Webforms */
.page-node-webform-results.adminimal-theme table th {
  font-size: 12px;
  min-width: 100px;
}
.adminimal-theme ul.secondary {
  padding-left: 1rem;
}
.adminimal-theme table tr, .adminimal-theme table th {
  border-bottom: 1px solid #eeeeee;
}
.adminimal-theme .webform-submission-info, .adminimal-theme .webform-submission-actions {
  padding: 1rem;
}
.adminimal-theme .webform-submission-next {
  padding: 0.5em;
  border: 1px solid #eeeeee;
}

/* Mini calendar widget */
#ui-datepicker-div {
  font-family: inherit;
}
.ui-datepicker {
  width: 19em;
}
body.adminimal-skin-material table th {
  background: #96b2be;
}

body.adminimal-skin-material fieldset.vertical-tabs-pane > legend {
  text-transform: uppercase;
  font-size: 20px;
  font-weight: bold;
}
body.adminimal-theme.adminimal-skin-material fieldset {
  padding-top: 15px;
}

/* Add a style for 2 columns */
.adminimal-theme .field-name-field-event-deadline,
.adminimal-theme .form-item-field-event-time-und-0-value {
  width: 40%;
  float: left;
  margin-top: -0.7rem;
  margin-right: 5px;
}

.adminimal-theme .field-widget-inline-entity-form .ief-entity-operations input[id*="edit"],
.adminimal-theme input[type="submit"], input.form-submit {
  margin-right: 5px;
}

.adminimal-theme .ui-widget-overlay {
  z-index: 100;
}

/* Styles for the HTML emails sent by webforms */
#mimemail-body #main {
  font-family: "Calibri", "Tahoma", sans-serif;
  font-size: 14px;
  line-height: 18px;
}
#mimemail-body label {
  font-weight: bold;
  display: block;
}

#mimemail-body .form-item {
  display: block;
  margin-top: 10px;
}