$top-ranked-background: $blue;
$overlay_text: #FFFFFF;
$love-it-background: $light_grey;

.front {

  #content .container {
    padding: 0;
  }
  .description {
    @include fontsize(1.2);
    line-height: 1.7;
    display: block;
    margin-top: 2.5rem;
    margin-bottom: 3.2rem;
  }

  .region-content .container {
    padding: 0;
  }

  .page-header {
    padding-bottom: 0;

    > .container {
      z-index: 3;
      //padding: 0;
    }
  }

  .breadcrumb-container {
    display: none;
  }

  .header-content {
    a.primary-button {
      @include fontsize(1.2);
    }
    .home-subtitle {
      text-transform: uppercase;
      font-family: BlenderProMedium;
      line-height: 1;
      color: $white;
    }
  }

.pane-bundle-homepage-panes {
  position: relative;
    .homepage-block-2, .homepage-block-3 {
      padding: 2rem 2rem 1rem 2rem;
      //width: 40%;
      h2 {
        margin-bottom: 0;
      }
      h3 {
        color: $gold;
        margin: 0.2rem 0 1rem 0;
        @include fontsize(1.4);
      }

    }
  // Block 2
    .homepage-block-2 {
      background-color: $blue;
      color: $white;
      
    }
  // End Block 2 

  // Block 3
    .homepage-block-3 {
      background-color: $gold;
      h3 {
        color: $body_text;
      }
    }
  // End Block 3  
  // 
  .field-name-field-homepage-image-2 {
    position: absolute;
    top: 0;
    right: 0;
    max-width: 57%;
    img {
      display: none;
    }
  }
}

// Upcoming Events
  .pane-calendar-homepage-events-pane {
    background-color: $light_grey;
    //margin: 2rem 0;
    padding: 3rem 0 2rem 0;
    
    .views-field-field-event-image {
      min-height: 100px;
    }

    .event-wrapper {
      margin: 1rem 1.5rem;
      //display: table-cell;
      //vertical-align: bottom;
      .event-date {
        font-family: BlenderProBold;
        text-transform: uppercase;
        @include fontsize(2);
        line-height: 1;
        margin: 0;
        padding: 0;
      }  
      h4 {
        font-family: BlenderProMedium;
        margin: 0;
        padding: 0;
        a {
          color: $body_text;
          &:hover {
            color: $link;
          }
        }

      }   
    }


    .view-content {
      @include breakpoint($tippie-sm-min) {
        @include flexbox();
        //flex-wrap: wrap;
        margin-left: -10px;
        margin-right: -10px;
      }
      & > .views-row {
        width: 31%;

        margin: 10px;
        background-color: $gold;
        position: relative;
        flex:1;
        align-self: flex-end;
      }
    }
  }
// End Upcoming Events

// Next Steps
  .pane-bundle-homepage-next-steps {

    margin: 0;
    padding: 3rem 2rem;
    background: url(../images/yellow-double-lines-cropped.png);
    background-position: right top;
    background-repeat: no-repeat;
    background-size: contain;

    .pane-content, .pane-title {
      @extend .container;
    }
    
  }
  // #content .pane-bundle-homepage-next-steps.container {
  //   padding: 2rem 0 2.5rem 0;
  //   margin-top: 0;
  // } 
// End Next Steps


  @include breakpoint($tippie-sm-min) {
    
    .header-content {
      width: 60%;
    }
    .page-header {
      padding-bottom: 2rem; 
    }
    .pane-bundle-homepage-panes {
      .homepage-block-2, .homepage-block-3 {
        width: 60%;
      }
      .homepage-block-2 {
        margin-bottom: 2rem;
      }
      .field-name-field-homepage-image-2 img{ 
        display: none;
      }  
    }  

  }
  @include breakpoint($tippie-md-min) {
    .pane-bundle-homepage-panes {
      .homepage-block-2, .homepage-block-3 {
        width: 40%;
      }
      .field-name-field-homepage-image-2 img { 
        display: block;
      }  
    }  
  }
}



