$top-ranked-background: $blue;
$overlay_text: #FFFFFF;
$love-it-background: $light_grey;

.front {

  #content .container {
    padding: 0;
  }
  .description {
    @include fontsize(1.2);
    line-height: 1.7;
    display: block;
    margin-top: 2.5rem;
    margin-bottom: 3.2rem;
  }

  .region-content .container {
    padding: 0;
  }

  .page-header {
    padding-bottom: 0;

    > .container {
      z-index: 3;
      //padding: 0;
    }
  }

  .breadcrumb-container {
    display: none;
  }

  .header-content {
    a.primary-button {
      @include fontsize(1.2);
    }
    .home-subtitle {
      text-transform: uppercase;
      font-family: BlenderProMedium;
      line-height: 1;
      color: $white;
    }
  }

.pane-bundle-homepage-panes {
  position: relative;
    .homepage-block-2, .homepage-block-3 {
      padding: 2rem 2rem 1rem 2rem;
      //width: 40%;
      h2 {
        margin-bottom: 0;
      }
      h3 {
        color: $gold;
        margin: 0.2rem 0 1rem 0;
        @include fontsize(1.4);
      }

    }
  // Block 2
    .homepage-block-2 {
      background-color: $blue;
      color: $white;
      
    }
  // End Block 2 

  // Block 3
    .homepage-block-3 {
      background-color: $gold;
      h3 {
        color: $body_text;
      }
    }
  // End Block 3  
  // 
  .field-name-field-homepage-image-2 {
    position: absolute;
    top: 0;
    right: 0;
    max-width: 57%;
    img {
      display: none;
    }
  }
}

// Upcoming Events
  .pane-calendar-homepage-events-pane {
    background-color: $light_grey;
    margin: 2rem 0;
    padding: 2rem 0;
    
    .views-field-nothing {
      //position: absolute;
      //bottom: 0;
    }
    .event-wrapper {
      margin: 1rem 1.5rem;
      .event-date {
        font-family: BlenderProBold;
        text-transform: uppercase;
        @include fontsize(2);
        line-height: 1;
        margin: 0;
        padding: 0;
      }  
      h4 {
        font-family: BlenderProMedium;
        margin: 0;
        padding: 0;
        a {
          color: $body_text;
          &:hover {
            color: $link;
          }
        }

      }   
    }


    .view-content {
      @include breakpoint($tippie-sm-min) {
        @include flexbox();
        flex-wrap: wrap;
        margin-left: -10px;
        margin-right: -10px;
      }
      & > .views-row {
        width: 31%;
        margin: 10px;
        background-color: $gold;
        position: relative;
      }
    }
  }
// End Upcoming Events

// Love it Here
  .pane-love-it-here {
    background-color: $love-it-background;
    position: relative;
    padding: 3rem;

    .slide__content {
      margin-left: 10px;
      margin-right: 10px;
    }

    .scroll-box {
      background-color: $item_2x2_background;
      
      height: auto;
      max-width: 480px;
      width: 100%;
      position: relative;
      vertical-align: middle;
      margin-left: auto;
      margin-right: auto;

      // first block - You'll love it here
      .leading-text {
        padding: 0;
        color: $white;
        position: absolute;
        top: 0;
        bottom: 0;
        width: 100%;
        @include breakpoint($tippie-xs-min) { 
          padding: 2.2rem;
        } 
        h2 {
          font-size: 13vw;
          line-height: 1;
          margin: 0 0 1.5rem 0;
          padding: 1.5rem;
          @include breakpoint($tippie-xs-min) { 
            @include fontsize(3.5);
          }        
          @include breakpoint($tippie-md-min) { 
            font-size: 3.5vw;
            padding: 0;
          }
          @include breakpoint($tippie-lg-min) { 
            font-size: 4.7vw;
          }          

        }
        .description {
          background-color: $gold;
          color: $body_text;
          @include fontsize(0.8);
          position: absolute;
          bottom: -62px;
          padding: 1rem;
          width: 100%;
          @include breakpoint($tippie-xs-min) { 
            position: relative;
            bottom: 0;
            background-color: transparent;
            color: $white;
            font-family: BlenderProMedium;
            @include fontsize(1.4);
            padding: 0;
          }          
        }
      }      
 
      .info {
        background-color: $item_2x2_background;
        padding: 1rem;        
        position: relative;
        width: 100%;
        @include breakpoint($tippie-xs-min) { 
          position: absolute;
          bottom: 0;
          right: 0;
          width: 50%;
        }
      }       
      .description {
        color: $body_text;
        @include fontsize(0.8);
        line-height: 1.2;
        margin: 0;
        padding-right: 15px;
      }  

      .caret {
        color: $orange;
        margin: 0;
        position: absolute;
        right: 10px;
        top: 48%;
        &.right {
          border-top: 10px solid transparent;
          border-bottom: 10px solid transparent;
          border-left: 10px dashed;
          border-right: none;
        }
      }     
    }
    .slick-arrow {
      color: transparent;
      background-color: transparent;
      margin: 0;
      padding: 0;
      top: 48%;
      width: 0;
      height: 0;
      position: absolute;
      border-style: solid;
    }
    .slick-next {
      @extend .slick-arrow;
      right: 10px;
      border-width: 30px 0 30px 30px;
      border-color: transparent transparent transparent $orange;
    }
    .slick-prev {
      @extend .slick-arrow;
      left: 10px;
      border-width: 30px 30px 30px 0;
      border-color: transparent $orange transparent transparent;
    }
  }
// End Love It Here

// Next Steps
  .pane-next-steps {

    #cta-section .container {
      display: block;
      padding: 0 2rem;
      @include breakpoint($tippie-sm-min) { 
        padding: 0;
      }
    }
    .cta-items {
      max-width: 70%;
      margin: 1.5rem 0 3rem 0;
    }
    a {
      width: 100%;
      text-align: center;
    }
  }
 // End Next Steps

  @include breakpoint($tippie-sm-min) {
    
    .header-content {
      width: 60%;
    }
    .page-header {
      padding-bottom: 2rem; 
    }
    .pane-bundle-homepage-panes {
      .homepage-block-2, .homepage-block-3 {
        width: 60%;
      }
      .homepage-block-2 {
        margin-bottom: 2rem;
      }
      .field-name-field-homepage-image-2 img{ 
        display: none;
      }  
    }  

  }
  @include breakpoint($tippie-md-min) {
    .pane-bundle-homepage-panes {
      .homepage-block-2, .homepage-block-3 {
        width: 40%;
      }
      .field-name-field-homepage-image-2 img { 
        display: block;
      }  
    }  
  }
}



