$header_suffix_background: $light_grey;

//use this breakpoint value pairs to fix the header font sizes and padding and prevent header content going lower than image for medium-large and small screens
$tippie-xl: 1200px 1430px; 
$tippie-sm: $tippie-sm-min $tippie-sm-max; 
$tippie-md: $tippie-md-min $screen-lg-min; 
// 984 - 1180

$header_padding: 1.5rem;

.page-header {
  img {
    height: auto;
    max-width: 100%;
  }    
  .container {
    padding: 1.5rem;
    @include breakpoint($tippie-lg-min) {
      padding: 1rem 5rem;
    }
    // background-image: url(../images/header_lines.png);
    // background-repeat: no-repeat;
    // background-position: 20px -30px;
  }

  .header-content {
    padding: 1rem 0;
    z-index: 3000;
    @include breakpoint($tippie-lg-min) {
      width: 65%;
      margin: 1rem 0;
      h1 {
        @include fontsize(4);
      }
    }

    .section-title {
      @include fontsize(1.2);
      text-transform: uppercase;
      font-family: BlenderProBold;

      @include breakpoint($tippie-lg-min) {
        @include fontsize(1.75);
      }
    }
    
    // fix overflow issues on medium-large screens (1200px - 1430 px)
    @include breakpoint($tippie-xl) {
      margin: 1rem 0 0 0;
      width: 60%;
      h1 {
        @include fontsize(3); 
      }
    }

    // fix overflow issues on medium screens (992px - 1199 px)
    @include breakpoint($tippie-md) {
      margin: 1rem 0 0 0;
      width: 60%;
    } 

    // fix overflow issues on small screens (768px - 992 px)
    @include breakpoint($tippie-sm) {
      margin: 0;
      width: 60%;
      h1 {
        @include fontsize(2.5); 
      }
    }    

  }

  .custom-text {
    @include fontsize(1.4);
    margin-top: 0.9rem;
    display: block;
    font-family: BlenderProMedium;
    line-height: 1.3;

    p {
      margin-bottom: $header_padding/3;
    }
    @include breakpoint($tippie-xs-min) {
      @include fontsize(1.4);
    }
    @include breakpoint($tippie-sm-min) {
      @include fontsize(1.2);
      line-height: 1.5rem;
      width: 100%;
    }
    @include breakpoint($tippie-md-min) {
      @include fontsize(1.6);
      line-height: 2rem;
    }
    @include breakpoint($tippie-lg-min) {
      @include fontsize(2);
      line-height: 2.5rem;
    }    
  }

  .display-title {
    @include fontsize(1.2);
    display: block;
    font-family: BlenderProBold;
  }

  .primary-button {
    display: table;
    margin-top: $header_padding;
  }

  // .header-suffix {
  //   //background-color: $header_suffix_background;
  //   padding: $header_padding;
  //   padding-top: 0;
  // }

  &.tall-image-story {
    .header-fields {
      display: none !important;
    }
  }

  @include breakpoint(max-width $tippie-sm-max) {
    &.short-image {
      background: none !important;
    }
  }

  @include breakpoint($tippie-sm-min) {

    &.short-image {
      height: 290px;

      // Center the container vertically.
      .container {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
      }
    }

    &.tall-image {
      margin:auto;
      position:relative;

      img {
        width:100%;
        height:auto;
      }

      .container {
        position:absolute;
        top:0;
        left:0;
        right:0;
        bottom:0px;
        z-index: 1000;
      }
    }

    &.tall-image picture:after {
  
      @include breakpoint($tippie-md-min) {
        background: url(../images/yellow-double-lines.png);
        background-position: left top;
        background-repeat: no-repeat;
        background-size: cover;
        z-index: 0;
        position: absolute;
        top: -30px;
        left: -60px;
        display: block;
        width: 310px;
        height: 620px;
        content: "";        
      }
      @include breakpoint($tippie-xl) { 
        width: 250px;
        height: 550px;
      }
    }

    &.tall-image-story {
      .header-fields {
        display: block !important;
      }

      .header-suffix {
        display: none !important;
      }
    }
  }
}
