/**
 * Bender Pro Bold
 */
@font-face {
  font-family: BlenderProBold;
  src:
    url("../fonts/blender_pro/BlenderPro-BoldWeb.eot"),
    url("../fonts/blender_pro/BlenderPro-BoldWeb.woff") format("woff");
}

/**
 * Bender Pro Bold Italic
 */
@font-face {
  font-family: BlenderProBoldItalic;
  src:
    url("../fonts/blender_pro/BlenderPro-BoldItalicWeb.eot"),
    url("../fonts/blender_pro/BlenderPro-BoldItalicWeb.woff") format("woff");
}

/**
 * Bender Pro Book
 */
@font-face {
  font-family: BlenderProBook;
  src:
    url("../fonts/blender_pro/BlenderPro-BookWeb.eot"),
    url("../fonts/blender_pro/BlenderPro-BookWeb.woff") format("woff");
}

/**
 * Bender Pro Book Italic
 */
@font-face {
  font-family: BlenderProBookItalic;
  src:
    url("../fonts/blender_pro/BlenderPro-BookItalicWeb.eot"),
    url("../fonts/blender_pro/BlenderPro-BookItalicWeb.woff") format("woff");
}

/**
 * Bender Pro Thin
 */
@font-face {
  font-family: BlenderProThin;
  src:
    url("../fonts/blender_pro/BlenderPro-ThinWeb.eot"),
    url("../fonts/blender_pro/BlenderPro-ThinWeb.woff") format("woff");
}

/**
 * Bender Pro Thin Italic
 */
@font-face {
  font-family: BlenderProThinItalic;
  src:
    url("../fonts/blender_pro/BlenderPro-ThinItalicWeb.eot"),
    url("../fonts/blender_pro/BlenderPro-ThinItalicWeb.woff") format("woff");
}

/**
 * Bender Pro Medium
 */
@font-face {
  font-family: BlenderProMedium;
  src:
    url("../fonts/blender_pro/BlenderPro-MediumWeb.eot"),
    url("../fonts/blender_pro/BlenderPro-MediumWeb.woff") format("woff");
}

/**
 * Bender Pro Medium Italic
 */
@font-face {
  font-family: BlenderProMediumItalic;
  src:
    url("../fonts/blender_pro/BlenderPro-MediumItalicWeb.eot"),
    url("../fonts/blender_pro/BlenderPro-MediumItalicWeb.woff") format("woff");
}

/**
 * Bender Pro Heavy
 */
@font-face {
  font-family: BlenderProHeavy;
  src:
    url("../fonts/blender_pro/BlenderPro-HeavyWeb.eot"),
    url("../fonts/blender_pro/BlenderPro-HeavyWeb.woff") format("woff");
}

/**
 * Franklin Gothic Book
 */
@font-face {
  font-family: FranklinGothicBook;
  src:
    url("../fonts/franklin_gothic/franklin-gothic-book.woff2") format("woff2"),
    url("../fonts/franklin_gothic/franklin-gothic-book.otf"),
    url("../fonts/franklin_gothic/FRABK.TTF") format("truetype");
}

/**
 * Franklin Gothic Book Italic
 */
@font-face {
  font-family: FranklinGothicBookItalic;
  src:
    url("../fonts/franklin_gothic/franklin-gothic-bookitalic.woff2") format("woff2"),
    url("../fonts/franklin_gothic/franklin-gothic-bookitalic.otf"),
    url("../fonts/franklin_gothic/FRABKIT.TTF") format("truetype");
}

/**
 * Franklin Gothic Medium
 */
@font-face {
  // font-family: FranklinGothicMedium;
  // src:
  //   url("../fonts/franklin_gothic/franklin-gothic-medium.woff") format("woff"),
  //   url("../fonts/franklin_gothic/franklin-gothic-medium.otf"),
  //   url("../fonts/franklin_gothic/franklin-gothic-medium.eot") format("embedded-opentype"),
  //   url("../fonts/franklin_gothic/franklin-gothic-medium.ttf") format("truetype");

  font-family: FranklinGothicMedium;
  src: url('../fonts/franklin_gothic/franklin-gothic-medium.eot'); /* IE9 Compat Modes */
  src: url('../fonts/franklin_gothic/franklin-gothic-medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/franklin_gothic/franklin-gothic-medium.woff') format('woff'), /* Modern Browsers */
       url('../fonts/franklin_gothic/franklin-gothic-medium.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/franklin_gothic/franklin-gothic-medium.svg#FranklinGothic-Medium') format('svg'); /* Legacy iOS */
  font-style: normal;
}

/**
 * Franklin Gothic Demi
 */
@font-face {
  // font-family: FranklinGothicDemi;
  // src: 
  //   url("../fonts/franklin_gothic/franklin-gothic-demi.woff") format("woff"),
  //   url("../fonts/franklin_gothic/franklin-gothic-demi.otf"),
  //   url("../fonts/franklin_gothic/franklin-gothic-demi.eot") format("embedded-opentype"),
  //   url("../fonts/franklin_gothic/franklin-gothic-demi.ttf") format("truetype");

  font-family: FranklinGothicDemi;
  src: url('../fonts/franklin_gothic/franklin-gothic-demi.eot'); /* IE9 Compat Modes */
  src: url('../fonts/franklin_gothic/franklin-gothic-demi.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/franklin_gothic/franklin-gothic-demi.woff') format('woff'), /* Modern Browsers */
       url('../fonts/franklin_gothic/franklin-gothic-demi.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/franklin_gothic/franklin-gothic-demi.svg#FranklinGothic-Demi') format('svg'); /* Legacy iOS */
  font-style: normal;    
}
