// full node
.node-type-founders-profile {
  h2 {
    color: $orange;
  }
  img {
    width: 100%;
    height: auto;
    margin-bottom: 2rem;
  }
  .field-name-field-founders-profile-phone .field-item {
    @extend .phone-link;
  }
  .field-name-field-founders-profile-email a {
    @extend .email-link;
  }
  .field-name-field-founders-profile-url a {
    @extend .website-link;
  }
  .field-name-field-founders-profile-facebook a {
    @extend .facebook-link;
  }
  .field-name-field-founders-profile-twitter a {
    @extend .twitter-link;
  }
}

// participants page
.page-foundersclub {
  .view-founders-club-profiles {
    @extend .container;
    .views-row {
      background-color: $light_grey;
      padding: 0.5rem 2rem 0.5rem 2rem;
      margin-bottom: 1rem;
      h2 {
        @extend .h3;
      }
    }
  }
  .views-field-title {
    @extend .h3;
    margin-bottom: 0;
    padding-bottom: 0;
  }
  .field-name-field-fp-student-name, .field-collection-item-field-founders-profile-student {
    display: inline;
    font-family: FranklinGothicMedium;
  }
  .views-field-field-founders-profile-body {
    margin: 1.5rem 0;
  }
}

// hiding the label for the exposed search filter on the Current Founders Club page
.page-foundersclub {
  .views-exposed-form {
    .views-widget-filter-combine label {
      @extend .hidden;
    }
    .views-exposed-widget .form-submit,
    .views-submit-button, 
    .views-reset-button {
      margin-top: 0;
    }
  }
}