.node-card_content-card {

  .field-name-field-generic-header {
    @extend .card-header;
  }

  .card-description-wrapper {
    @extend .card-body;
  }

  .node-title {
    @extend .card-title;
    margin-bottom: 0.2rem;
  }
  .field-name-field-card-body {
    margin-top: 1rem;
  }
  .field-name-field-card-subtitle {
    text-transform: uppercase;
    @include fontsize(1);
  }  
}
