/**
 * Background styles and general content containers.
 */

.background-neon {
  background-color: $neon;
}
.background-dark-gold {
  background-color: $gold;
}
.background-gold {
  background-color: $gold;
}
.background-blue-line {
  position: relative;
  overflow: hidden;
  @include blue-angle(100%);
  background: $blue;
  color: $white;
  a:link, a:visited {
    color: $white !important;
  }
  a:hover {
    color: $gold !important;
  }
}
.background-grey {
  background-color: $background_grey;
}
