/**
 * Background styles and general content containers.
 */

.background-neon {
  background-color: $neon;
}
.background-dark-gold {
  background-color: $gold;
}
.background-gold {
  background-color: $gold;
}
.background-blue-line {
  position: relative;
  overflow: hidden;
  @include blue-angle(102%);
  background: $blue;
  color: $white;
}
.background-grey {
  background-color: $background_grey;
}
