.primary-button {
  background-color: $primary_button;
  color: $primary_button_text;
  font-family: FranklinGothicDemi;
  padding: 0.5em 1em;
  display: inline-block;

  &:hover, &:active {
    background-color: $dark_orange;
    text-decoration: none;
    color: $primary_button_text;
  }
  &:visited {
    color: $primary_button_text;
  }
}
@include breakpoint(max-width $tippie-xs-min) {
  .entity-paragraphs-item.background-blue-line {
    .primary-button {
      display: block;
      width: 80%;
      text-align: center;
    }
  }
}
