.node-person-teaser {
  h3 {
    @extend .h4;
    //margin: 0;
  }
  margin-bottom: 1rem;
  
  .field-name-field-person-title,
  .field-name-field-person-custom-title {
    font-family: FranklinGothicBookItalic;
    margin-bottom: 0.5rem;

    .field-label {
      @include offscreen;
    }
  }

  .field-name-field-person-email {
    .field-label {
      @include offscreen;
    }

    a {
      font-family: FranklinGothicDemi;
      &:before {
      font-family: FontAwesome;
        content: "\f003";
        padding: 0 10px 0 0;
      }
    }
  }

  .field-name-field-phone {
    margin-top: 0.5rem;

    .field-label {
      @include offscreen;
    }

    a {
      font-family: FranklinGothicDemi;
      padding-top: 0.5rem;
      &:before {
        font-family: FontAwesome;
        content: "\f095";
        padding: 0 10px 0 0;
      }
    }
  }
}
