// Person full node page
.node-type-person {    

  .node-person-full {
    padding-bottom: 2rem;

  }
  .field-name-field-person-education {
    .field-label {
      @extend .h3;
      
    }
  }
  .person-title .field-item {
    font-family: BlenderProMedium;
    @include fontsize(1.7);
    line-height: 1.1;
    color: $orange;
    margin-bottom: 1.5rem;
  }

  .field-name-field-person-categories {
    margin-top: 1.2rem;
    margin-bottom: 1.5rem;
    .field-item {
      font-family: BlenderProMedium;
      font-style: italic;
      @include fontsize(1.2);
      display: inline;
      margin-right: 0;
    }
  }

  .field-item {
    //color: $dark_grey;
    margin-top: 0.6rem;
  }
  .contact, .location {
    margin-top: 2rem;
    .field-item {
      margin-top: 0;
    }
    .person-label {
      font-family: FranklinGothicDemi;
    }
  }
}

.node-person-teaser {
  h3 {
    @extend .h4;
    margin: 0;
  }
  
  .field-name-field-person-title,
  .field-name-field-person-custom-title {
    font-family: FranklinGothicBookItalic;
    margin-bottom: 0.5rem;

    .field-label {
      @include offscreen;
    }
  }
}

// People Directory page
.page-people-directory {
  .tabs {
    margin-top: 2rem;
  }
  .view-faculty-staff {
    @extend .container;
    .views-row {
      margin-bottom: 1rem;
      padding: 1rem;
      &.views-row-odd {
        background-color: $light_grey;
      }
    }
    &.view-display-id-advisory_council_page {
      .views-row {
        @include clearfix;
      }
      .views-field-title {
        @extend .col-sm-4;
        .field-content {
          @include fontsize(1.5); 
        }        
      }
      .views-field-field-person-title {
        @extend .col-sm-8;
        .field-content {
          padding-top: 5px;
          
        }
      }
    }
  }
}