$bp-cta-links-inline: $tippie-sm-min;
$bp-cta-title-inline: $tippie-md-min;

#cta-section {
  background: url("/sites/tippie.uiowa.edu/themes/tippie/assets/images/next_steps_background.jpg") no-repeat scroll calc(100% + 10rem) top;
  background-size: cover;

  @include breakpoint($tippie-sm-min) {
    background-position: right top;
  }


  .container {
    padding: 1.5rem;

    @include breakpoint($bp-cta-title-inline) {
      display: flex;
      flex-direction: row;
      align-items: baseline;
    }

    @include breakpoint($tippie-lg-min) {
      padding-left: 5rem;
      padding-right: 5rem;
    }
  }
}

.cta-button {
  border: none;
  text-align: center;
  width: 100%;
  max-width: 250px;
  @extend .primary-button;
  @include breakpoint($tippie-sm-min) {
    max-width: 100%;
  }
}

.cta-section-title {
  margin-top: 0;

  @include breakpoint($bp-cta-title-inline) {
    flex-grow: 1;
  }
}

.cta-items.ctas-horizontal-list {
  @include breakpoint($bp-cta-links-inline) {
    display: flex;
    justify-content: space-between;
    margin: 3rem -5px 1.5rem;
  }

  @include breakpoint($bp-cta-title-inline) {
    flex-grow: 3;
  }

  .cta-item {
    @include breakpoint($bp-cta-links-inline) {
      margin-left: 5px;
      margin-right: 5px;
      flex-grow: 1;
    }
  }
}

.cta-items.ctas-vertical-list {
  display: none;
  @include breakpoint($tippie-sm-min) {
    display: block;
    position: absolute;
    right: 0;
    top: 175px;
    width: 110px;
    z-index: 150;

    .cta-button {
      padding: 13px;
      @include fontsize(0.9);
    }
  }
}

.cta-item {
  margin-bottom: 10px;

  &:last-of-type {
    margin-bottom: 0;
  }
}
