/**
 * Global breakpoints.
 *
 * Use this file to specify global, fairly generaly breakpoints
 * that are used throughout your partials.
 * Add partial-specific breakpoint definititions to the partial
 * instead.
 */

// Extra small screen / phone. 480px
$tippie-xs-min:             $screen-xs-min;

// Small screen / tablet. 768px
$tippie-sm-min:             $screen-sm-min;

// Medium screen / desktop. 992px
$tippie-md-min:             $screen-md-min;

// Large screen / wide desktop. 1200px
$tippie-lg-min:             $screen-lg-min;

// So media queries don't overlap when required, provide a maximum.
$tippie-xs-max:             $screen-xs-max; // 767 px
$tippie-sm-max:             $screen-sm-max; // 991 px
$tippie-md-max:             $screen-md-max; // 1199 px

