.node-factoid-card {

  .field-name-field-factoid-type {
    @extend .card-header;
  }

  .card-description-wrapper {
    @extend .card-body;
  }

  .field-name-field-factoid-source a {
    @extend .primary-button;
    //font-family: FranklinGothicBook;
    @include fontsize(0.9);
    padding: 0.6em 1.8em;
    margin-top: 1rem;
    display: inline-block;
  }

  .field-name-field-factoid-image {
    background-color: $blue;
    width: 100%;
    text-align: center;
    img {
      width: 150px;
      height: auto;
      margin: 50px 0;
      text-align: center;
      vertical-align: center;
    }
  }

}
.node-factoid-full {
  @extend .node-factoid-card;
  width: 380px;
}

.node-factoid-teaser {
  padding: 1rem;
  background-color: transparent;

  .field-name-field-factoids-link a {
    @extend .primary-button;
    display: inline-block;
    margin-top: 2rem;
  }
  .field-name-field-body {
    //color: $white;
    font-family: FranklinGothicBookItalic;
  }
  .field-name-field-factoid-number {
    @include fontsize(7);
    color: $orange;
    margin: 0;
    line-height: 0.8;
    letter-spacing: 0.1px;
    font-family: BlenderProMedium;
  }
  h3.node-title {
    font-family: FranklinGothicMedium;
    font-weight: normal;
    @include fontsize(1.2);
  }
  h4 {
    font-family: FranklinGothicMedium;
    @include fontsize(1.2);
    line-height: 1;
    //color: $white;
  }    
}