.node-factoid-teaser {
  padding: 1rem;
  background-color: transparent;

  .field-name-field-factoids-link a {
    @extend .primary-button;
    display: inline-block;
    margin-top: 2rem;
  }
  .field-name-field-body {
    color: $white;
    font-family: FranklinGothicBookItalic;
  }
  .field-name-field-factoid-image {
    text-align: left;
    img {
      width: 200px;
      height: auto;
      margin: 15px 0;
    }
  }

  h4 {
    font-family: FranklinGothicMedium;
    @include fontsize(1.2);
    line-height: 1;
    color: $white;
  }    
}