.paragraphs-item-factoids {
  background-color: $blue;
  padding: 2rem 0;

  .field-name-field-factoids-link {
    a {
      @extend .primary-button;
    }
  }

  h2 .field-name-field-factoids-title {
    @include fontsize(2.5);
    color: $white;
  }

  .field-name-field-factoids-factoid-ref > .field-items {
    
    //flexbox on larger screens
    @include breakpoint(min-width $screen-sm-min) {
      @include flexbox();
      @include alignitems(stretch);
      margin-left: -10px;
      margin-right: -10px;
      & > .field-item {
        width: 31%;
        margin: 10px;
      }
    }
  }
}
